body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#background-video {
    position: fixed;
    top: 50px;

	height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */

    z-index: -1;
}

#background-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;

    z-index: -1;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat repeat;
}
